<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
    <link rel="stylesheet" href="../css/lightslider.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" defer></script> -->
    <script src="../js/lightslider.js" defer></script>
    <script src="../js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="view-section first">
        <div class="wrapper">
            <header class="header">
                <div class="header_left">
                    <nav class="header__menu">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="">Рассчистать стоимость</a>
                            </li>
                            <li class="menu-item">
                                <a href="">О нас</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header_right">
                    <div class="number">
                        <a href="tel:+74957768534">+7 (495) 776-85-34</a>
                    </div>
                    <div class="logo">
                        <a class="logo" href="">ремастер</a>
                    </div>
                </div>
            </header>
            <div class="section__content">
                <h1 class="title">Быстрый расчет стоимости вашего ремонта</h1>
                <div class="article">
                    <p class="text">
                        Ответьте всего на 15 вопросов и получите конечную стоимость
                        всех ремонтных услуг и рекомендации от мастеров.
                    </p>
                </div>
                <a href="" class="button_orange">Перейти в квиз</a>
            </div>
        </div>
    </div>

    <div class="view-section second">
        <h2>КВИЗ</h2>
        
    </div>
    <div class="view-section third">
        <div class="wrapper">
            <div class="section__content">
                <h2 class="title">Экономия на ремонте до 30%</h2>
                <p class="article">
                    Обновите свое жилье вместе с нами. Занимаемся отделкой квартир и домов под ключ, а также оказываем единовременные услуги по ремонту.
                    Мы составим для вас смету, подберем необходимые материалы и найдем подрядчика. Пока мы работаем - вы отдыхаете!
                </p>
            </div>
        </div>
    </div>
    <div class="view-section fourth">
        <div class="wrapper">
            <div class="slider">
                <div class="slider__content">
                    <!-- <div class="slider-item">
                        <div class="feedback">
                            <div class="feedback__customer">
                                <div class="feedback__customer__image-container">
                                    <img  class="image" src="../img/feedback_customer-1.jpg" alt="клиент номер 1">
                                </div>
                                <div class="feedback__customer__info">
                                    <h3 class="customer__info">Артем, 28 лет</h3>
                                    <h4 class="feedback__date">14.07.2019</h4>
                                </div>
                            </div>
                            <div class="feedback__article">
                                <p class="text">
                                    Я хочу, чтобы знали все!!! Благодаря данному сайту и ребятам из бригады я сэкономил 10567 рублей на ремонте. Опрос реально работает, он помог мне рассчитать сумму замены пола в моей квартире. Мужики из бригады - профессионалы своего дела. Позвонили, разложили все по полочкам, дали совет. Следующий ремонт точно буду делать с Ремастером
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="feedback">
                            <div class="feedback__customer">
                                <div class="feedback__customer__image-container">
                                    <img  class="image" src="../img/feedback_customer-2.jpg" alt="клиент номер 1">
                                </div>
                                <div class="feedback__customer__info">
                                    <h3 class="customer__info">Марина, 32 года</h3>
                                    <h4 class="feedback__date">14.07.2019</h4>
                                </div>
                            </div>
                            <div class="feedback__article">
                                <p class="text">
                                    Не буду многословной, а просто скажу, что ребята молодцы! Отдельное спасибо хочу сказать мастеру Сергею. После опроса и расчета примерной стоимости, он приехал и бесплатно сделал мне точные замеры. Также, по совету Сергея, я нашла ремонтную бригаду, которая за адекватную цену предложила провести косметический ремонт в туалете.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="feedback">
                            <div class="feedback__customer">
                                <div class="feedback__customer__image-container">
                                    <img  class="image" src="../img/feedback_customer-1.jpg" alt="клиент номер 1">
                                </div>
                                <div class="feedback__customer__info">
                                    <h3 class="customer__info">Артем, 28 лет</h3>
                                    <h4 class="feedback__date">14.07.2019</h4>
                                </div>
                            </div>
                            <div class="feedback__article">
                                <p class="text">
                                    Я хочу, чтобы знали все!!! Благодаря данному сайту и ребятам из бригады я сэкономил 10567 рублей на ремонте. Опрос реально работает, он помог мне рассчитать сумму замены пола в моей квартире. Мужики из бригады - профессионалы своего дела. Позвонили, разложили все по полочкам, дали совет. Следующий ремонт точно буду делать с Ремастером
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <ul id="lightSlider">
                        <li>
                            <div class="slider-item">
                                <div class="feedback">
                                    <div class="feedback__customer">
                                        <div class="feedback__customer__image-container">
                                            <img  class="image" src="../img/feedback_customer-1.jpg" alt="клиент номер 1">
                                        </div>
                                        <div class="feedback__customer__info">
                                            <h3 class="customer__info">Артем, 28 лет</h3>
                                            <h4 class="feedback__date">14.07.2019</h4>
                                        </div>
                                    </div>
                                    <div class="feedback__article">
                                        <p class="text">
                                            Я хочу, чтобы знали все!!! Благодаря данному сайту и ребятам из бригады я сэкономил 10567 рублей на ремонте. Опрос реально работает, он помог мне рассчитать сумму замены пола в моей квартире. Мужики из бригады - профессионалы своего дела. Позвонили, разложили все по полочкам, дали совет. Следующий ремонт точно буду делать с Ремастером
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slider-item">
                                <div class="feedback">
                                    <div class="feedback__customer">
                                        <div class="feedback__customer__image-container">
                                            <img  class="image" src="../img/feedback_customer-2.jpg" alt="клиент номер 1">
                                        </div>
                                        <div class="feedback__customer__info">
                                            <h3 class="customer__info">Марина, 32 года</h3>
                                            <h4 class="feedback__date">14.07.2019</h4>
                                        </div>
                                    </div>
                                    <div class="feedback__article">
                                        <p class="text">
                                            Не буду многословной, а просто скажу, что ребята молодцы! Отдельное спасибо хочу сказать мастеру Сергею. После опроса и расчета примерной стоимости, он приехал и бесплатно сделал мне точные замеры. Также, по совету Сергея, я нашла ремонтную бригаду, которая за адекватную цену предложила провести косметический ремонт в туалете.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slider-item">
                                <div class="feedback">
                                    <div class="feedback__customer">
                                        <div class="feedback__customer__image-container">
                                            <img  class="image" src="../img/feedback_customer-1.jpg" alt="клиент номер 1">
                                        </div>
                                        <div class="feedback__customer__info">
                                            <h3 class="customer__info">Артем, 28 лет</h3>
                                            <h4 class="feedback__date">14.07.2019</h4>
                                        </div>
                                    </div>
                                    <div class="feedback__article">
                                        <p class="text">
                                            Я хочу, чтобы знали все!!! Благодаря данному сайту и ребятам из бригады я сэкономил 10567 рублей на ремонте. Опрос реально работает, он помог мне рассчитать сумму замены пола в моей квартире. Мужики из бригады - профессионалы своего дела. Позвонили, разложили все по полочкам, дали совет. Следующий ремонт точно буду делать с Ремастером
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="lSAction">
                        <a class="lSPrev"></a>
                        <a class="lSNext"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="view-section fifth footer">
        <div class="wrapper">
            <div class="footer__content">
                <div class="footer_left">
                    <h2 class="title">заказать бесплатную консультацию</h2>
                    <form action="" class="form">
                        <label>
                            <input class="field" type="text"
                                placeholder="Имя"
                                required>
                        </label>
                        <label>
                            <input class="field" type="tel" 
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                placeholder="Мобильный телефон"
                                required>
                        </label>
                        <label>
                            <input class="field" type="email" placeholder="E-MAIL">
                        </label>
                        <button class="button_orange" type="submit">отправить</button>
                    </form>
                </div>
                <div class="footer_right">
                    <div class="map-container">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae520685329298852fee4046fced6ab4fa0e296ec4ac3a66b2de46e3e662f2c0f&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <h4 class="footer__copyright">©2019. Все права защищены</h4>
            </div>
        </div>
    </footer>
</body>
</html>