<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/jquery.js" defer></script>
    <script src="../js/main.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="mobile-menu">
            <button class="hamburger-box" type="button">
                <div class="hamburger-inner"></div>
            </button>
            <div class="logo">
                <a href="">Ремастер</a>
            </div>
            <nav class="menu-box hide">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#1">Оценка ремонта</a>
                    </li>
                    <li class="menu-item">
                        <a href="#2">Подбор бригады</a>
                    </li>
                    <li class="menu-item">
                        <a href="#3">Дизайн проект</a>
                    </li>
                    <li class="menu-item">
                        <a href="#4">Единый замер</a>
                    </li>
                    <li class="menu-item">
                        <a href="#5">Договор</a>
                    </li>
                    <li class="menu-item">
                        <a href="#6">Контроль ремонта</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Все статьи</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="aside">
            <h2 class="aside__logo">
                <div class="logo">
                    <a href="">Ремастер</a>
                </div>
            </h2>
            <nav class="aside__menu">
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#1">Оценка ремонта</a>
                    </li>
                    <li class="menu-item">
                        <a href="#2">Подбор бригады</a>
                    </li>
                    <li class="menu-item">
                        <a href="#3">Дизайн проект</a>
                    </li>
                    <li class="menu-item">
                        <a href="#4">Единый замер</a>
                    </li>
                    <li class="menu-item">
                        <a href="#5">Договор</a>
                    </li>
                    <li class="menu-item">
                        <a href="#6" >Контроль ремонта</a>
                    </li>
                </ul>
            </nav>
            <a href="" class="aside__button">Все статьи</a>
            <div class="aside__articles">
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-1.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-2.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-3.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-4.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-5.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-1.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-2.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-3.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-4.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>
                <article class="articles-item">
                    <a href="">
                        <div class="articles-item__image-container">
                                <img src="../img/aside__article-5.png" alt="Дом под ключ">
                        </div>
                        <h3 class="articles-item__title">Дом под ключ</h3>
                        <p class="articles-item__preview">Как построить дом, готовый к заселению?</p>
                        <span class="articles-item__date">15.06.2019</span>
                    </a>
                </article>

                <a href="" class="button_more">Ещё</a>
            </div>
        </div>
        <main class="main">
            <section class="main__header">
                <div class="main__header__image-block">
                    <img class="image" src="../img/main__header__background.png" alt="6 полезных сервисов при ремонте">
                    <h1 class="title">6 полезных сервисов при ремонте</h1>
                </div>
                <p class="main__header__text">
                    Поиск предложений по выгодному ремонту отнимает кучу времени. Бывает тяжело воплотить в реальность свои задумки из-за многообразия выбора. Мы собрали в одном месте <b>6&nbsp;удобных&nbsp;сервисов</b>, которые помогут разобраться в вопросах ремонта. Они пригодятся как новичкам, так и профи. Избавят от лишней волокиты и волнения от предстоящей переделки вашей&nbsp;квартиры.
                </p>
            </section>
            <section class="main__article" id="1">
                <div class="main__article__title-block stick-right">
                    <h2 class="title">оценка ремонта</h2>
                    <span class="number">1</span>
                </div>
                <div class="main__article__content odd">
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-1.png" alt="Оценка ремонта">
                    </div>
                    <div class="text-content">
                        <p class="text">
                            Отделка квартиры - это сложная задача для того, у кого совсем нет опыта. Практически все люди планируют делать ремонт задолго до его начала. Необходимо выбрать диапазон цен, в пределах которых будут выбраны материалы и специалисты. Настроение будет испорчено в любом случае, потому что не всегда желаемое удается встроить в ту самую&nbsp;сумму.
                        </p>
                        <br>
                        <p class="text">
                            Для прогноза затрат и расчета примерной сметы ремонта существуют, так называемые, калькуляторы ремонта. Мы выбрали из всего многообразия таких сервисов <a href="" class="button_orange">самый удобный</a>, на наш взгляд. Он позволяет определить сумму ремонта, учитывая ваши пожелания. Процесс расчета ремонта занимает не больше 5 минут вашего времени. Вы отвечаете на простые вопросы и получаете список рекомендаций и конечную сумму ремонта.
                        </p>
                        <br>
                        <p class="text">
                            В чем его плюсы? Удобство использования, простой интерфейс и расчет цены с точностью до 90%. Для лучшего результата, советуем заранее замерить помещение, определиться с видом ремонта (косметический или евроремонт), какие материалы хотите использовать и будет ли изменена планировка.
                        </p>
                    </div>
                </div>
            </section>
            <section class="main__article" id="2">
                <div class="main__article__title-block">
                    <span class="number">2</span>
                    <h2 class="title">WhatsApp чат-бот</h2>                    
                </div>
                <div class="main__article__content">
                    <div class="text-content">
                        <p class="text">
                            Здорово, когда ремонт идет в ногу с новыми технологиями. Современные приложения для телефонов позволяют общаться и принимать важные решения в режиме онлайн. Казалось бы, что общего между ремонтом и приложением для мобильного телефона? Ответ прост — <a href="" class="button_gray">чат-бот</a>.
                        </p>
                        <br>
                        <p class="text">
                            Для экономии вашего времени и нервов мы нашли лучший WhatsApp чат-бот. Он прост в использовании и не требует от вас дополнительных усилий, разве что описать свой идеальный ремонт. Бот в короткие сроки позволит вам выбрать мастера, определиться с ценой ремонта, а также получить консультацию по подбору материалов. 
                        </p>
                        <br>
                        <p class="text">
                            Как уже было сказано выше, работает все очень просто. Вы, отвечая на вопросы, описываете какой ремонт вам нужно сделать. Неважно, будет ли это дизайнерский ремонт, косметический или же одна из услуг ремонтной бригады. После опроса, данные о ремонте, которые вы внесли, отправляются на рассмотрение ремонтным бригадам, которые разбиты по категориям: плиточники, отделочники, комплексные ремонты и т.д. В течение 15 минут вы получите наиболее выгодное для вас предложение. 
                        </p>
                        <br>
                        <p class="text">
                            У чат-бота есть промежуточный контроль и служба поддержки, которые работают 24 часа. Вы можете обратиться за помощью, если  указали неверные данные либо что-то пошло не так. 
                            <a href="" class="button_gray">Перейти к чат-боту</a>
                        </p>
                    </div>
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-2.png" alt="WhatsApp чат-бот">
                    </div>
                </div>
            </section>
            <section class="main__article"  id="3">
                <div class="main__article__title-block stick-right">
                    <h2 class="title">Бесплатный дизайн-проект</h2>
                    <span class="number">3</span>
                </div>
                <div class="main__article__content odd">
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-3.png" alt="Бесплатный дизайн-проект">
                    </div>
                    <div class="text-content">
                        <p class="text">
                            Планирование ремонта не ограничивается сметой и поиском нужных материалов. Для более наглядного обоснования ремонта существуют платные и бесплатные сервисы для разработки дизайн-проекта. 3D-моделирование позволяет спроектировать вплоть до мелочей вид будущей комнаты, от отделочных работ до расстановки мебели. 
                        </p>
                        <br>
                        <p class="text">
                            Нет навыков работы со специальными программами, но хочется дизайнерский ремонт? Дизайнер <b>бесплатно</b> предоставляет дизайн-проект вашего будущего ремонта и дает практические советы по его воплощению в жизнь. 
                            Для проектирования вашего ремонта от вас требуется фото помещения (комнаты), в которой будет проходить ремонт. Дизайнер разработает проект с вашими материалы и сделает планировку помещения. 
                        </p>
                        <br>
                        <p class="text">
                            Хотите расставить акценты в ремонте? За небольшую стоимость дизайнер дополнит свои разработки предметами интерьера (мебель, шторы, количество розеток, элементы декора и т.д.) и подгонит дизайн-проект под определенную цветовую гамму и стиль.
                            <a href="" class="button_gray">Заказать бесплатно</a>
                        </p>
                    </div>
                </div>
            </section>
            <section class="main__article"  id="4">
                <div class="main__article__title-block">
                    <span class="number">4</span>
                    <h2 class="title">Бесплатный замер</h2>
                </div>
                <div class="main__article__content">
                    <div class="text-content">
                        <p class="text">
                            Залог успешного ремонта - грамотный замер помещения, в котором будет проводится ремонт. Не всегда самостоятельно удается точно рассчитать площадь ремонтируемого помещения, сложности возникают из-за неопытности либо из-за отсутствия строительной рулетки, уровня и т.д. 
                        </p>
                        <br>
                        <p class="text">
                            Мастер-замерщик с <b>высокой точностью</b> рассчитает площадь в квадратах, количество необходимых материалов и инструментов для работы. Преимущество работы специалиста в том, что он с профессиональной точки зрения оценивает все нюансы, дает практические советы и рекомендации.  
                        </p>
                        <br>
                        <p class="text">
                            После замера вашего помещения полученные данные передаются городским ремонтным бригадам и мастерам. Конечная сумма ремонта может меняться, в зависимости от стоимости, которую предложат подрядчики. С помощью этого вы сможете сэкономить до 30% на будущем ремонте. Вы сами выбираете подрядчика, исходя из собственных интересов и финансов. 
                        </p>
                        <br>
                        <p class="text">
                            Выбирайте только проверенных замерщиков, чтобы не было опасений, что они вас надули или обсчитали. Советуем обратиться к специалисту в этом деле Иванову Ивану, … “Инфа про Ивана” 
                            <a href="" class="button_gray">Перейти</a>
                        </p>
                    </div>
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-4.png" alt="Бесплатный замер">
                    </div>
                </div>
            </section>
            <section class="main__article"  id="5">
                <div class="main__article__title-block stick-right">
                    <h2 class="title">Договор с подрядчиком</h2>
                    <span class="number">5</span>
                </div>
                <div class="main__article__content odd">
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-5.png" alt="Договор с подрядчиком">
                    </div>
                    <div class="text-content">
                        <p class="text">
                            Зачем нужен договор с подрядчиком? Для урегулирования отношений подрядчика и заказчика всегда стоит заключать договор на ремонтные услуги в присутствие юриста. 
                            Договор с подрядчиком - важная часть строительной сделки. Он помогает избежать конфликтных ситуаций и четко сформулировать задачи по ходу сотрудничества.  Для того, чтобы урегулировать ваши отношения с подрядчиком договор на ремонтные услуги стоит заключать только в присутствии юриста. Юрист поможет составить пункты прав и обязанностей каждой из сторон, обозначит сумму и сроки выполнения ремонта. 
                        </p>
                        <br>
                        <p class="text">
                            Если вы обращаетесь к знакомому подрядчика, то от юриста можно отказаться. Мы нашли для вас <b>бесплатный</b> образец договора, который можно легко скачать  и заполнить самостоятельно. Образец представляет собой готовый документ, в котором прописаны основные положения и обязанности подрядчика.
                        </p>
                        <br>
                        <p class="text">
                            Решили, что вам нужен опытный юрист? Существуют юристы, которые специализируются на вопросах строительства и ремонта. У такого специалиста, как правило, есть опыт в составлении договора с подрядчиком и он помогает правильно заполнить все пункты. Вы получаете готовый договор, с соблюдением всех юридических формальностей.
                        </p>
                        <br>
                        <p class="text">
                            Совет. Обращайтесь к проверенным юристам. Оставляем контактные данные лучшего специалиста в городе Омска, по вопросам ремонта и строительства.
                        </p>
                        <a href="" class="button_order">Скачать договор</a>
                    </div>
                </div>
            </section>
            <section class="main__article"  id="6">
                <div class="main__article__title-block">
                    <span class="number">6</span>
                    <h2 class="title">Промежуточный контроль ремонта</h2>
                </div>
                <div class="main__article__content">
                    <div class="text-content">
                        <p class="text">
                            Везде и во всем должен быть порядок, а особенно в сроках и действиях ремонтной бригады. Вы уже наняли мастеров для отделки и ремонта помещений, но не видите результатов? Проблема в отсутствии контроля и четкого разделения на ежедневные задачи.
                        </p>
                        <br>
                        <p class="text">
                            Вызов бригадира на объект дело обычное. Правильная мотивация рабочих, распределение сил и постановка задач - все это входит в компетенцию профессионалов ремонта. Бригадир проверит насколько качественно сделана работа на объекте, каковы промежуточные результаты и пообщается с каждым мастером.
                        </p>
                        <br>
                        <p class="text">
                            Специалист приедет к вам на начальном этапе ремонта или будет выезжать до окончания ремонтных работ.  Если вас не устраивает бригада или мастер, то он поможет разобраться в чем проблема и быстро устранит ее. 
                        </p>
                        <br>
                        <p class="text">
                            Для вас мы нашли <a href="" class="button_gray">проверенную компанию</a> по ремонту, в которой работают специалисты в области строительства с многолетним опытом.
                            <a href="" class="button_gray">Подробнее</a>
                        </p>
                    </div>
                    <div class="image-wrapper">
                        <img class="image" src="../img/main__article-6.png" alt="Промежуточный контроль ремонта">
                    </div>
                </div>
            </section>
        </main>
        <button class="button_page-up js-use" type="button"></button>
    </div>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer_left">
            <div class="creator">
                <div class="creator__image-container">
                    <img class="creator__image" src="../img/creator.png" alt="Крупецкий Максим Андреевич">
                </div>
                <div class="creator__info">
                    <span class="creator__info__specialty">Создание сайта</span>
                    <span class="creator__info__name">Крупецкий Максим Андреевич</span>
                    <a href="tel:+74957796543" class="creator__info__number">+7 (495) 779-65-43</a>
                </div>
            </div>
            <span class="footer__copyright">
                ©2019. Все права защищены
            </span>
        </div>
        <div class="footer_right">
            <a href="" class="button_look-more">Посмотреть все статьи</a>
        </div>
        </div>
    </footer>
    
</body>
</html>