@font-face {
  font-family: 'Phenomena';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Phenomena-Bold.otf");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url("../fonts/Lato-Regular.ttf");
}
h1,
h2,
h3,
h4,
button,
body,
p,
ul,
li,
a,
fieldset,
form {
  margin: 0;
  padding: 0;
}
ul,
a {
  text-decoration: none;
}
li {
  list-style: none;
}
textarea:focus,
input:focus {
  outline: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
button:active,
button:focus {
  outline: none;
}
*:focus {
  outline: none !important;
}
body {
  font: normal 100% 'Ubuntu', sans-serif;
  color: #121c3d;
}
.view-section {
  height: 100vh;
  position: relative;
  background: no-repeat top;
  background-size: cover;
}
.view-section.first {
  background-image: url("../img/background-view-1.png");
}
.view-section.third {
  background-image: url("../img/background-view-3.png");
}
.view-section .wrapper {
  max-width: 1230px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}
.view-section .header {
  display: flex;
  font-size: 24px;
  padding-top: 44px;
}
.view-section .header_left,
.view-section .header_right {
  display: inline-flex;
  width: 50%;
  align-items: center;
}
.view-section .header_right {
  justify-content: flex-end;
}
.view-section .header_right .number {
  padding-right: 50px;
}
.view-section .header__menu .menu {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.view-section .header__menu .menu-item:not(:last-child) {
  margin-right: 52px /* 67 - 15 */;
}
.view-section .header a {
  padding: 0 15px;
  color: #121c3d;
}
.view-section .header .logo {
  font-family: 'Phenomena', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.view-section .section__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 63%;
  flex-grow: 1;
}
.view-section .section__content .title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.view-section .section__content .article {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  padding-bottom: 33px;
}
.view-section.third .wrapper {
  align-items: flex-end;
}
.view-section.third .wrapper .section__content .title {
  text-align: center;
}
.view-section.fifth {
  background: #18526a;
}
.view-section .footer__content {
  display: flex;
  flex-grow: 1;
}
.view-section .footer_left,
.view-section .footer_right {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.view-section .footer_right {
  width: 60%;
  position: relative;
}
.view-section .footer_right .map-container {
  width: 100%;
}
.view-section .footer_left {
  width: 40%;
  padding-right: 30px;
}
.view-section .footer_left .title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 76px;
}
.view-section .footer_left .field {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin-bottom: 82px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #8ca9b5;
}
.view-section .footer_left .field:active,
.view-section .footer_left .field:hover {
  border-bottom: 1px solid #fff;
}
.view-section .footer_left .field::placeholder {
  line-height: 22px;
  font-size: 18px;
  color: #8ca9b5;
  opacity: 1 /* Firefox */;
  border-bottom: 1px solid #8ca9b5;
}
.view-section .footer_left .field:-ms-input-placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #8ca9b5;
  border-bottom: 1px solid #8ca9b5;
}
.view-section .footer_left .field::-ms-input-placeholder {
  font-size: 18px;
  line-height: 22px;
  color: #8ca9b5;
  border-bottom: 1px solid #8ca9b5;
}
.view-section .footer_left .field:last-child {
  margin-bottom: 55px;
}
.view-section .footer_bottom {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.view-section .footer_bottom .footer__copyright {
  font-size: 24px;
  color: #c4c4c4;
  padding-bottom: 54px;
}
.feedback {
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid #dfdfdf;
  border-radius: 18px;
  padding: 60px 44px;
  flex-direction: column;
  max-width: 450px;
  height: 515px;
}
.feedback__customer {
  display: flex;
  flex-direction: row;
  padding-bottom: 38px;
}
.feedback__customer__image-container {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.feedback__customer__info {
  padding-top: 25px;
}
.feedback__customer__info .customer__info {
  font-size: 22px;
  font-weight: bold;
  text-align: end;
}
.feedback__customer__info .feedback__date {
  font-weight: 400;
  text-align: end;
}
.slider {
  margin: auto 0;
}
.slider__content {
  display: flex;
}
.slider-item {
  display: flex;
  justify-content: center;
}
.button_orange {
  border-radius: 33px;
  padding: 23px 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  background: #e1866d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
